@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Oxygen", sans-serif;
}

.top-header .maxwidth {
  text-align: center;
  background: #f6f6f6;
}

.top-header img {
  margin: 8px;
}

.top-nav ul {
  background: #612975;
}

.top-header a {
  display: block;
  padding: 16px 0;
  font-size: 16px;
  color: white;
}

.top-content i {
  display: none;
  font-size: 78px;
}

.top-header a:hover {
  background: #7c3792;
}

.top-content {
  text-align: center;
  padding-top: 48px;
  background: #f6f6f6;
}

.top-content h1 {
  font-size: 22px;
  margin: 30px;
  color: #612674;
}

.top-content p {
  font-size: 16px;
  color: #a87bb7;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
  padding: 0 16px;
}

.top-content .maxwidth {
}

.button {
  background: #58c4c4;
  color: white;
  padding: 14px 40px;
  border-radius: 5px;
  appearance: none;
  border: none;
  font-size: 16px;
}

.middle-content {
  text-align: center;
  padding: 32px;
  background: #f6f6f6;
}

.middle-content-icon {
  font-size: 50px;
  padding-bottom: 2px;
}

.middle-content h2 {
  color: #652e78;
  margin: 16px;
  text-transform: uppercase;
  font-size: 20px;
}

.middle-content p {
  color: #161616;
  line-height: 1.5;
  margin: 16px 0;
}

.main-content-article {
  margin-bottom: 56px;
}

.main-content {
  padding: 32px;
}

.main-content h2 {
  color: #652e78;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 20px 0;
}

.main-content p {
  color: #161616;
  margin: 16px 0;
  line-height: 1.2;
}

.footer {
  background: #25303e;
  padding-bottom: 32px;
}

.footer-menushare {
  background: #303d4c;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 8px;
  margin: 16px 0px;
}

.footer-menushare li {
  margin-bottom: 16px;
}

.footer-menushare a {
  font-size: 16px;
}

.footer p {
  color: #7b8997;
  text-align: center;
  margin: 16px 0;
}

.maxwidth {
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 780px) {
  .top-header .maxwidth {
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: end;
  }

  .top-nav ul {
    display: flex;
    background: none;
    padding-bottom: 4px;
    gap: 4px;
  }

  .top-nav a {
    color: #652e78;
    padding: 16px;
  }

  .top-nav a:hover {
    background: #e7d9fc;
  }

  .top-content i {
    display: inline;
  }

  .top-content .maxwidth {
    background: #521a66;
    color: white;
    height: 308px;
  }

  .top-content {
    padding: 0;
  }

  .top-content .maxwidth {
    padding: 16px;
  }

  .top-content h1,
  .top-content p {
    color: white;
  }

  .middle-content .maxwidth {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .middle-content article {
    margin: 28px;
  }

  .main-content-article {
    text-align: right;
  }

  .main-content-article h2,
  .main-content-article p {
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .top-content .maxwidth {
    padding: 270px 16px 80px 16px;
    background: url(../images/bg_topo_1198x670.jpg);
    background-size: cover;
    max-width: 1600px;
    height: 608px;
  }
}

@media screen and (min-width: 1184px) {
  .top-content {
    background: url(../images/bg_topo_1600x1374.jpg);
    background-size: 1980px;
  }

  .top-header .maxwidth {
    max-width: 1100px;
  }

  .top-content .maxwidth {
    padding: 310px 100px 170px 100px;
    background: url(../images/bg_topo_1600x1374.jpg);
    height: 780px;
  }

  .middle-content .maxwidth {
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1130px;
  }

  .middle-content article {
    margin: 11px;
  }

  .main-content .maxwidth {
    height: 366px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); */
    justify-content: center;
    max-width: 1220px;
  }

  .main-content article {
    text-align: left;
    margin-bottom: 12px;
    margin: 12px;
    height: 136px;
    width: 538px;
  }

  .top-content i {
    font-size: 116px;
  }

  .main-content .clearfix {
    height: 186px;
  }
}
